section {
    height: 90vh;
    display: flex;
    margin-top: 24px;
}

/* left side */

.left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 16px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
}

.conv {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 8px 0px 8px 16px;
    height: 90px;
}

.conv img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h2 {
    font-size: 1em;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text p {
    font-size: 0.8em;
    color: inherit;
}


.select {
    background-color: var(--purple);
}


/* right side */

.right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.right img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.conversation {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 104px;
}

.correspondant {
    display: flex;
    align-items: center;
    gap: 16px;
}

.date {
    display: flex;
    gap: 24px;
    align-self: center;
}

.date hr {
    rotate: 90deg;
}

.blocMessage {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.messageLeft {
    padding: 16px 16px;
    border-radius: 12px 12px 12px 0px;
    width: 60%;
    background-color: var(--orange);
}

.heure {
    font-size: 0.8em;
    color: inherit;
}


.messageRight {
    padding: 16px 16px;
    border-radius: 12px 12px 0px 12px;
    width: 60%;

    align-self: flex-end;


    color: inherit;
    background: var(--green);

}

.heureright {
    font-size: 0.8em;
    color: inherit;
    text-align: right;
}

/* bloc écriture message */

.bloc {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0px 24px;
}

.write {
    display: flex;
    align-items: center;
    gap: 24px;

    background-color: grey;
    border-radius: 8px;
    padding: 8px 16px;
    width: 90%;
}

.msgbloc {
    color: var(--white);
    background-color: var(--purple);
    padding: 8px 16px;
    border-radius: 8px;
}