section {
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    width: 290px;
    height: 245px;

    border: solid 1px var(--black);
    border-radius: 16px;

}

.bloc {
    display: flex;
    gap: 16px;
    padding: 0 16px;
    align-items: center;
}

.bloc a {
    color: var(--orange);
}

.bloc a:hover {
    text-decoration: underline;
}

/* right side */

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 24px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.parametres {
    display: flex;
    flex-direction: column;

    gap: 32px;

}

.profil {
    display: flex;
    gap: 24px;
    align-items: center;
}

.pp-profil {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 50%;
}

.profil p {
    font-size: 1.5em;
    font-weight: 700;
}

.blocPP {
    display: flex;
    align-items: flex-end;
}

/* form section */

.formContain {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
}

.position {
    display: flex;
    flex-wrap: wrap;

    gap: 16px;
    align-items: flex-end;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info input {
    width: 300px;
    height: 48px;
    border-radius: 8px;
    border: solid 1px var(--black);
    padding-left: 16px;
}

.adresse input {
    width: 600px;
}

/* docs section */
h2 {
    margin-bottom: 16px;
}

.docs {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.doc {
    display: flex;
    gap: 64px;

    border: var(--black) solid 2px;
    padding: 16px 32px;
    border-radius: 16px;

    align-items: center;
}

.doc a {
    color: var(--black);
    border: solid 1px #E6E8EC;
    border-radius: 32px;
    padding: 8px 24px;
}

.doc a:hover {
    background-color: var(--green);
    color: var(--beige);
    transition: 0.5s;
}

/* btn css */

.btn {
    border: solid 1px var(--black);
    color: var(--black);

    border-radius: 16px;
    width: 140px;
    text-align: center;
    padding: 16px 24px;
    cursor: pointer;
}

.btn:hover {
    color: var(--beige);
    background-color: var(--black);
    transition: 0.3s;
}

/* responsive */

@media (max-width: 964px) {

    section {
        flex-direction: column !important;
        gap: 64px !important;
        margin: 16px;
    }
}

@media (max-width: 720px) {
    section {
        height: 100%;
    }

    .left {
        width: 100%;
        height: 100%;
        padding: 24px;
        margin-top: 50px;
    }

    h1 {
        font-size: 2em;
    }

    .right {
        margin-bottom: 100px;
    }

    .adresse input {
        width: 300px;
    }

    .position {
        justify-content: center;
    }

    .doc {
        padding: 16px;
        gap: 32px;
    }

    .qr {
        width: 150px;
    }
}