/* Section Absences */

.absences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
    width: 80%;
    margin-bottom: 100px;
}

h1 {
    font-size: 4em;
    margin-top: 32px;
    text-transform: uppercase;
}

.containerAbs {
    display: flex;
    flex-direction: column;
    gap: 32px;

    border: solid 1px var(--black);
    border-radius: 16px;
    padding: 24px;
}


.top {
    display: flex;
    justify-content: space-between;
    padding: 0px 32px;
}

.top p {
    font-size: 1.2em;
    font-weight: 800;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap: 32px;
}

.pp_prof {
    border-radius: 16px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 100% 0;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

.text p:first-child {
    font-size: 1.2em;
    font-weight: 800;
}

.text p:last-child {
    font-size: 1em;
    font-weight: 200;
}

.heure p {
    font-size: 1.2em;
    font-weight: 800;
}

/* css btn */

.btn {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn a {
    color: var(--black);
    border: solid 1px var(--black);
    border-radius: 32px;
    padding: 16px 32px;
}

.btn a:hover {
    background-color: var(--green);
    color: var(--beige);
    transition: 0.5s;
}

.totAbs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 32px;
}

.totAbs p {
    font-size: 1.2em;
    font-weight: 800;

}

/* section notes */

.notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
    width: 80%;
    margin-bottom: 100px;
}

h2 {
    font-size: 1.5em;
    margin-top: 16px;
}


.containerNotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
}

.blocNote {
    display: flex;
    gap: 32px;
    width: 40%;
}

.note {
    width: 50%;
    text-align: center;
    align-self: center;

    font-size: 2em;
    font-weight: 800;

    background-color: var(--green);
    color: var(--beige);
    padding: 48px 32px;
    border-radius: 24px;
    border: solid 1px var(--black);
}

h3 {
    font-size: 1.2em;
    font-weight: 800;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.descNote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.descNote p:last-child {
    color: #777E90;
}

.slider {
    display: flex;
    align-self: center;
}

/* relevé note div */

.recap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc {
    display: flex;
    gap: 64px;

    border: #E6E8EC solid 2px;
    padding: 24px 32px;
    border-radius: 16px;

    align-items: center;
}

.doc a {
    color: var(--black);
    border: solid 1px #E6E8EC;
    border-radius: 32px;
    padding: 8px 24px;
}


.doc a:hover {
    background-color: var(--green);
    color: var(--beige);
    transition: 0.5s;
}


.moyenne p {
    font-size: 1.2em;
    font-weight: 800;
}